<p>account type: {{user.userType}}</p>

<input type="text" name="firstName" value="{{user.firstName}}" placeholder="First Name">
<input type="text" name="lastName" value="{{user.lastName}}" placeholder="Last Name">

<input type="text" name="address" value="{{user.address}}" placeholder="Street Address">
<input type="text" name="city" value="{{user.city}}" placeholder="City">
<input type="text" name="state" value="{{user.state}}" placeholder="State">
<input type="text" name="zipCode" value="{{user.zipCode}}" placeholder="Zip Code">

{{#if user.beekeeper}}
<input type="text" name="range" value="{{user.geoRangeRadius}}" placeholder="Range in miles">
{{else}}
<input type="text" name="crop" value="{{user.crop}}" placeholder="Crop">
<input type="text" name="farmAcerage" value="{{user.farmAcerage}}" placeholder="Farm acerage">
{{/if}}

<input type="submit" name="" value="Update Account">