<p>account type: {{user.userType}}</p>

<input type="text" name="firstName" value="{{user.firstName}}" placeholder="First Name" required>
<input type="text" name="lastName" value="{{user.lastName}}" placeholder="Last Name" required>

<input type="text" name="email" value="{{user.email}}" placeholder="email" required>

<input type="text" name="businessName" value="{{user.businessName}}" placeholder="Business name" required>

<input type="text" name="address" value="{{user.address}}" placeholder="Street Address" required>
<input type="text" name="city" value="{{user.city}}" placeholder="City" required>
<input type="text" name="state" value="{{user.state}}" placeholder="State" required>
<label for="zipCode">Zip code</label><input type="number" name="zipCode" value="{{user.zipCode}}" placeholder="Zip Code" required>

<label for="hivesTotal">Total number of Hives</label><input type="number" name="hivesTotal" value="{{user.hivesTotal}}" placeholder="" required>
<label for="costPerHive">Cost Per hive</label><input type="number" name="costPerHive" value="{{user.costPerHive}}" placeholder="" required>

<label for="geoRangeRadius">Geographic range</label><input type="number" name="geoRangeRadius" value="{{user.geoRangeRadius}}" placeholder="miles" required>
<label for="maxDistFree">Maximum transport distance before charge</label><input type="number" name="maxDistFree" value="{{user.maxDistFree}}" placeholder="miles" required>
<label for="costPerMile">Cents Per Mile</label><input type="number" name="costPerMile" value="{{user.costPerMile}}" placeholder="$" required>

<input type="submit" name="" value="Update Account">