<label for="hivesTotal">Total number of Hives</label><input type="text" name="hivesTotal" value="{{user.hivesTotal}}" placeholder="">
<label for="costPerHive">Cost Per hive</label><input type="text" name="costPerHive" value="{{user.costPerHive}}" placeholder="">

<label for="geoRangeRadius">Geographic range</label><input type="text" name="geoRangeRadius" value="{{user.geoRangeRadius}}" placeholder="miles">
<label for="maxDistFree">Maximum transport distance before charge</label><input type="text" name="maxDistFree" value="{{user.maxDistFree}}" placeholder="miles">
<label for="costPerMile">Cost Per Mile</label><input type="text" name="costPerMile" value="{{user.costPerMile}}" placeholder="$">