<label for="hivesTotal">Total number of Hives Available</label><input type="number" name="hivesAvailable" value="{{user.hivesTotal}}" placeholder="" required>
<label for="costPerHive">Cost Per hive</label><input type="number" name="costPerHive" value="{{user.costPerHive}}" placeholder="" required>

<label for="geoRangeRadius">Geographic range</label><input type="number" name="geoRangeRadius" value="{{user.geoRangeRadius}}" placeholder="miles" required>
<label for="maxDistFree">Maximum transport distance before charge</label><input type="number" name="maxDistFree" value="{{user.maxDistFree}}" placeholder="miles" required>
<label for="costPerMile">Cost Per Mile</label><input data-parsley-type="number" name="costPerMile" value="{{user.costPerMile}}" placeholder="$" required>