<input type="text" name="username" value="" placeholder="Username">
<input type="email" name="email" value="{{user.email}}" placeholder="Email address">
<input type="email" name="email" value="{{user.email}}" placeholder="Confirm Email address">
<select name='userType' class='userType'>
	<option>User Type</option>
	<option value="beekeeper">Beekeeper</option>
	<option value="farmer">Farmer</option>
</select>
<div class='form-block'>
	<input type="password" value="{{user.password}}" name="password" type="password" placeholder="password">
	<input type="password" value="{{user.password}}" placeholder="Confirm password">
</div>

<div class='form-block'>
	<input type="text" value="{{user.businessName}}" name="businessName" placeholder="Name of Business">
	<input type="text" value="{{user.firstName}}" name="firstName" placeholder="First Name">
	<input type="text" value="{{user.lastName}}" name="lastName" placeholder="Last Name">
</div>

<div class='form-block'>
	<input type="text" value="{{user.address}}" name="address" placeholder="Street Address">
	<input type="text" value="{{user.city}}" name="city" placeholder="City">
	<input type="text" value="{{user.state}}" name="state" placeholder="State">
	<input type="text" value="{{user.zipCode}}" name="zipCode" placeholder="Zip Code">
</div>

<div class="userType-info">
	
</div>

<input type="submit" name="" value="Login">