<div class="user-image beekeeper" {{#if user.image}}style="background-image: url({{user.image}})" {{/if}}></div>
<div class='user-profile'>
	<h1 class="business-name">{{user.businessName}}</h1>
	<h2 class="crops">{{user.crops}}</h2>
	<div class="user-description">{{user.description}}</div>
</div>
<div class="newMessage-container">
	<a href="#" class="button newMessage">Send a Message</a>
</div>
<div>
	<h1 class="main-title request-hives">Request Hives</h1>
	<div class="opertation-details">
		<ul class="sub-details-beekeeper">

			<li class="hive-cost">
				<span class="figure">${{user.costPerHive}}</span>
				<span class="detail-title">per hive</span>
			</li>
			<li>
				<span class="figure"> ${{transportCost}} / mile</span>
				<span class="detail-title">Transportation fee<span class="subtle">if distance is over {{user.maxDistFree}} miles</span>
			</li>
			<li>
				<span class="figure">{{user.hivesAvailable}}</span>
				<span class="detail-title">hives available</span>
			</li>
			<li>
				<span class="figure">{{distance}}</span>
				<span class="detail-title">miles from you</span>
			</li>
		</ul>
	</div>
	<div class="new-request"></div>
</div>
<div class='reviews-container'>
	<div class="reviews-list-container">
		<div class="reviews">
			<h1 class="main-title">Reviews</h1>
		</div>
	</div>
</div>