<div class="user-image" styles="background-image: url({{user.image}})"></div>
<h1>{{user.businessName}}</h1>

<h3>Number of hives available: {{user.hivesAvailable}}</h3>
<h4>Distance from you: {{distance}} miles</h4>
<ul class="cost-details">
	<li>Cost per hive ${{user.costPerHive}}</li>
	<li>Transportation fee: ${{user.costPerMile}} per mile <span>if distance is over {{user.maxDistFree}} miles</span></li>
</ul>

<div class="new-request"></div>

<div class="reviews">
	<h2>Reviews</h2>
</div>
