<div class="user-image beekeeper" {{#if user.image}}style="background-image: url({{user.image}})" {{/if}}></div>
<div class='user-profile'>
	<h1 class="business-name">{{user.businessName}}</h1>
	<h2 class="crops">{{user.crops}}</h2>
	<div class="user-description">{{user.description}}</div>
</div>
<div class="newMessage-container">
	<a href="#" class="button newMessage">Send a Message</a>
</div>
<div>
	<h1 class="main-title">Request Hives</h1>
	<ul class="sub-details">
		<li>Number of hives available: <span>{{user.hivesAvailable}}</span></li>
		<li>Distance from you: <span>{{distance}}</span></li>
	</ul>
	<ul class="cost-details">
		<li>Cost per hive ${{user.costPerHive}}</li>
		<li>Transportation fee: ${{transportCost}} per mile <span>if distance is over {{user.maxDistFree}} miles</span></li>
	</ul>
	<div class="new-request"></div>
</div>
<div class='reviews-container'>
	<div class="reviews-list-container">
		<div class="reviews">
			<h1 class="main-title">Reviews</h1>
		</div>
	</div>
</div>