<form class="calculate-form">
	<label>Number of hives needed</label>
	<input name="numHives" value="{{request.numHives}}" type="number" required>
	<button type="submit" class='calculate' >Calculate Cost</button>
</form>
{{#if request.totalCost}}
<div class="request-details-container">
	<div class="request-details-wrap">
		<div class="request-details">
			<ul class="sub-details-beekeeper">
				<li class="hive-cost total-cost">
					<span class="figure">${{request.totalCost}}</span>
					<span class="detail-title">Total cost</span>
				</li>
				<li>
					<span class="figure">{{request.numHives}}</span>
					<span class="detail-title">Number of hives requested</span>
				</li>
				<li>
					<span class="figure">{{request.milesOver}}</span>
					<span class="detail-title">Miles over</span>
				</li>
				<li>
					<span class="figure">${{request.mileageCost}}</span>
					<span class="detail-title">Milage Cost</span>
				</li>

			</ul>
		</div>

		<div class="request-dates">
			<label for='startDate'>Start Date of service</label><input type='date' name='startDate'>
			<label for='endDate'>End Date of service</label><input type='date' name='endDate'>
		</div>
		<label for='message'>Attach a message to request</label>
		<textarea name="message" placeholder="Enter a message"></textarea>
	</div>
<button class='getBees lg-button' >Submit Request</button>
</div>
{{/if}}


{{!-- <label>Start</label>
<input type="date" name="startDate">
<input type="date" name="endDate"> --}}