

<input name='numHives' value="{{request.numHives}}" type='text'>
<button class='calculate' >calculate cost</button>

{{#if request.totalCost}}
<div class="requestDetails">
<p>Number of hives requested: {{request.numHives}}</p>
<p>Miles over: {{request.milesOver}}</p>
<p>Milage Cost: ${{request.mileageCost}}</p>
<h3>Total Cost: ${{request.totalCost}}</h3>

<label for='startDate'>Start Date of service</label><input type='date' name='startDate'>
<label for='endDate'>End Date of service</label><input type='date' name='endDate'>

<button class='getBees' >Get some Bees</button>
</div>
{{/if}}


{{!-- <label>Start</label>
<input type="date" name="startDate">
<input type="date" name="endDate"> --}}