<ul>
	<li>Farmer: {{farmer.username}}</li>
	<li>Number of Hives: {{request.numHives}}</li>
	<li>Cost: {{request.totalCost}}</li>
	<li>Miles over: {{request.milesOver}}</li>
	<li>Requested: {{request.createdAt}}</li>
</ul>