{{!-- Requests on Farmer pages --}}
<div class="details {{#if request.accepted}}accepted{{else}}notAccepted{{/if}} {{#if request.archivedFarmer}}archived {{/if}}">
	<a href="#/request/{{request.objectId}}">
		{{request.numHives}} hives from {{user.username}}
		<ul class='hidden'>
			<li>{{user.userType}}: {{user.username}}</li>
			<li>Number of Hives: {{request.numHives}}</li>
			<li>Cost: ${{request.totalCost}}</li>
			<li>Miles over: {{request.milesOver}}</li>
			<li>Dates: {{formattedDates.startDate}} - {{formattedDates.endDate}}</li>
			<li>Message: {{request.message}}</li>
			<li>Requested: {{formattedDates.createdAt}}</li>
			{{#if request.archivedFarmer}}
			<li>Archived: {{formattedDates.archivedFarmerDate}}</li>
			{{/if}}
		</ul>
	</a>

		<div class="actions">
			{{#if request.accepted}}
			{{#unless request.archivedFarmer}}
			<button class='archive'>Archive</button>
			{{/unless}}
			{{else}}
			<button class='delete'>Cancel Request</button>
			{{/if}}
			{{#unless request.archivedFarmer}}
			<button class='edit-request'>Edit Request</button>
			{{/unless}}
			<button class='more-info'>More Info</button>
		</div>
</div>