{{!-- Requests on Beekeeper pages --}}

<div class="details {{#if request.accepted}}accepted{{else}}notAccepted{{/if}} {{#if request.archivedBeekeeper}}archived {{/if}}">
	<ul>
		<li>{{user.userType}}: {{user.username}}</li>
		<li>Number of Hives: {{request.numHives}}</li>
		<li>Cost: ${{request.totalCost}}</li>
		<li>Miles over: {{request.milesOver}}</li>
		<li>Dates: {{request.startDate}}</li>
		<li>Requested: {{formattedDates.createdAt}}</li>
	</ul>
{{#if request.accepted}}
	{{#unless request.archivedBeekeeper}}
		<button class='archive'>Archive</button>
	{{/unless}}
	{{else}}
	<button class='accept'>Accept</button>
{{/if}}
</div>