<h1 class="main-title">Request</h1>
<ul>
	<li>Request ID: {{objectId}}</li>
	<li>{{farmer.objectId}}</li>
	<li>{{beekeeper.objectId}}</li>
	<li>{{total}}</li>
	<li>{{numHives}}</li>
	<li>{{totalCost}}</li>
	<li>{{startDate}} - {{endDate}}</li>
</ul>
{{#if request.accepted}}
{{#unless request.archivedBeekeeper}}
<button class='archive'>Archive</button>
{{/unless}}
{{else}}
<button class='accept'>Accept</button>
{{/if}}
<button class='more-info'>More Info</button>
{{#unless request.archivedBeekeeper}}
{{/unless}}
<button class="editRequest">Edit request</button>