<h1>A Request</h1>
{{log this}}

<ul>
	<li>{{farmer.objectId}}</li>
	<li>{{beekeeper.objectId}}</li>
	<li>{{total}}</li>	
	<li>{{numHives}}</li>	
	<li>{{totalCost}}</li>	
	<li>{{startDate}} - {{endDate}}</li>	
</ul>



