<h1 class="main-title">Request</h1>

<ul>
	<li>Request ID: {{objectId}}</li>
	<li>{{farmer.objectId}}</li>
	<li>{{beekeeper.objectId}}</li>
	<li>{{total}}</li>
	<li><input type="number" name="numHives" value="{{numHives}}"></li>	
	<li><input name="startDate" type="date" value="{{startDate}}"> - <input type="date" name="endDate" value="{{endDate}}"></li>
</ul>
<button class="editRequest">Update Request</button>



