<div class='request-solo'>
	<h1 class="main-title">Request</h1>
	<ul class="request-details">
		<li>Request ID: {{request.objectId}}</li>
		<li>{{request.farmer.objectId}}</li>
		<li>{{request.beekeeper.objectId}}</li>
		<li>{{request.total}}</li>
		<li>{{request.numHives}}</li>
		<li>{{request.totalCost}}</li>
		<li>{{request.startDate}} - {{request.endDate}}</li>
	</ul>
	{{#if request.accepted}}
	{{log archived}}
		{{#if archived}}
				<button class='archive'>Archive</button>
		{{/if}}
	{{else}}
			{{#if_eq curUser.userType 'beekeeper'}}
			<button class='accept'>Accept</button>
		{{/if_eq}}

	{{/if}}

	{{#unless archived}}
			<button class="edit-request">Edit request</button>
	{{/unless}}
</div>