<div class='request-solo'>
	<h1 class="main-title">Request</h1>

			<ul class="sub-details-beekeeper">
			<li class="hive-cost total-cost">
				<span class="figure">${{request.totalCost}}</span>
				<span class="detail-title">Total cost</span>
			</li>
			<li>
				<span class="figure">{{request.numHives}}</span>
				<span class="detail-title">Number of hives requested</span>
			</li>
			<li>
				<span class="figure">{{request.milesOver}}</span>
				<span class="detail-title">Miles over</span>
			</li>
			<li>
				<span class="figure">${{request.mileageCost}}</span>
				<span class="detail-title">Milage Cost</span>
			</li>

		</ul>
	<ul class="request-details">
		{{#if_eq curUser.userType 'beekeeper'}}		
			<li>{{request.farmer.objectId}}</li>
		{{else}}
			<li>{{request.beekeeper.objectId}}</li>
		{{/if_eq}}
		<li>{{request.startDate}} - {{request.endDate}}</li>
		<li class="message">{{request.message}}</li>

	</ul>
	<div class="request-buttons">
		{{#if request.accepted}}
		{{log archived}}
			{{#if archived}}
					<button class='archive'>Archive</button>
			{{/if}}
		{{else}}
				{{#if_eq curUser.userType 'beekeeper'}}
				<button class='accept'>Accept</button>
			{{/if_eq}}

		{{/if}}

		{{#unless archived}}
				<button class="edit-request">Edit request</button>
		{{/unless}}
	</div>
</div>