<h1 class="main-title">Request</h1>

<ul>
	<li>{{farmer.objectId}}</li>
	<li>{{beekeeper.objectId}}</li>
	<li>{{total}}</li>	
	<li>{{numHives}}</li>	
	<li>{{totalCost}}</li>	
	<li>{{startDate}} - {{endDate}}</li>	
</ul>



