{{!-- <h1>{{review.reviewee}}</h1> --}}
<p class="review-body">{{review.body}}</p>
<div class="review-info">
	<div><a href='#/user/{{reviewer.objectId}}'>{{reviewer.username}}</a>
	<p class="review-date">{{createdAt}}</p>
	</div>
</div>