{{!-- <div class="review-body">
	<p>{{review.body}}</p>
</div>
<div class="review-info">
	<div><a href='#/user/{{reviewer.objectId}}'>{{reviewer.username}}</a>
	<p class="review-date">{{createdAt}}</p>
	</div>
</div> --}}


<div class="message-body">
	<p>{{message.message}}</p>
	{{#if_eq type 'received'}}
		{{#unless message.replied}}<a href="#" class="reply">r</a>
			{{else}}
			<span class="replied">R</span><a href="#" class="reply">r</a>
		{{/unless}}
	{{/if_eq}}
</div>
<div class="message-info">
	{{#if_eq type 'received'}}
		<a href="#/user/{{message.sender.objectId}}">{{message.senderName}}</a> 
	{{/if_eq}}
	{{#if_eq type 'sent'}} 
		<a href="#/user/{{message.recipient.objectId}}">{{message.recipientName}}</a>
	{{/if_eq}}
	<p class="message-date">{{sentDate}}</p>
</div>
